.text {
    text-align: center;
}


/* main board mxm container */

#grid {
    flex-wrap: wrap;
    width: 75%;
    height: 75%;
    background-color: blue;
    border-radius: 20px;
    font-size: 6.5vw;
    box-shadow: 2px 2px black;
    justify-content: space-evenly;
}


/* style for n rows in the board */

.row {
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding: 1px;
}


/* style for m rows in the board */

.column {
    flex-wrap: wrap;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border: none;
    padding: 1px;
}


/* append moving text to cell */

.cell {
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
}


/* buttons to register taketurns */

.counterButtons {
    padding: 1px;
    font-size: 6.5vw;
    background-color: blue;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.winBannerMsg {
    position: absolute;
    font-size: 15vw;
    top: 5%;
    left: 25%;
    margin-top: 0px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    display: none;
    opacity: 1;
    transform: rotate(45deg);
}

.controlCol {
    align-content: center;
    justify-content: center;
    font-size: 5vw;
    border: none;
}


/* button animations */

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.button2 {
    background-color: grey;
    font-size: 10px;
    padding: 5px;
    width: 110px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.winCounters {
    position: absolute;
    font-size: 3vw;
    margin-left: 45%;
}


/* yellow token, set as emoji */

.yCount {
    width: 65px;
    height: 65px;
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/large-yellow-circle_1f7e1.png");
    background-size: 65px 65px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}


/* red token, set as emoji */

.rCount {
    width: 70px;
    height: 70px;
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/large-red-circle_1f534.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.movetxt {
    position: absolute;
    -webkit-animation: moving 1s;
    animation: moving 1s;
    /* animation-duration: 4s */
}

@keyframes moving {
    from {
        top: 0px;
    }
    to {
        top: 50px;
    }
}